

.usernotes{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
}


.m-4{
  width: 600px;
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  -webkit-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  -moz-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);

}


.container{
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  -webkit-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  -moz-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
}


.auth-div{
   display: flex;
   flex-direction: column;
   justify-content: center;
  -webkit-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  -moz-box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  box-shadow: 0px -1px 14px 0px rgba(66,69,68,1);
  width: 600px;
  height: 500px;
  border-radius: 8px;
}


.login-pdiv{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}